.container {
    padding: 2rem;
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--color-background);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
    border-radius: var(--border-radius);
    margin-top: 2rem;
}

.headingContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    margin-bottom: 1rem;
    color: var(--color-primary);
}

.headingContainer h2 {
    padding: 0 0 0 2rem;
}

.heading {
    display: flex;
    align-items: center;
    width: 70%;
}

.infoGroup {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
}

.iconContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.profileIcon {
    width: 3rem;

}

.deleteIcon,
.editIcon {
    padding: 2px;
    margin: 1px;
    width: 1.8rem;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
}

.deleteIcon:hover,
.editIcon:hover {
    transform: scale(1.15);
}

.infoLabel {
    font-weight: bold;
    color: var(--color-secondary);
    width: 6rem;
}

.infoValue {
    color: var(--color-primary);
}

.logoutContainer {
    margin-top: 2rem;
    text-align: center;
}

.loadingMessage {
    text-align: center;
    padding: 2rem;
    color: #3b82f6;
}

.errorMessage {
    text-align: center;
    padding: 2rem;
    color: var(--color-error);
    font-weight: bold;
}