.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 24px;
  box-sizing: border-box;
}

.pageTitle {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 24px;
  color: black;
}

section:not(:first-child){
  margin-top: 50px;
}

h2{
  color: #555;
}