.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  box-sizing: border-box;
  border-bottom: 1px solid var(--color-border);
  height: 80px;
  width: 100%;
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: var(--space-md);
  text-decoration: none;
}

.logoIcon {
  font-size: 2.5rem;
  color: var(--color-primary);
  background-color: var(--color-primary);
  color: white;
  margin: 3px;
  padding: 5px;
  border-radius: var(--border-radius);
}

.logoText {
  margin: 0 0 0 2px;
  display: flex;
  flex-direction: column;
  line-height: 1.2;
}

.logoText .title {
  font-weight: 700;
  font-size: var(--font-size-lg);
  color: var(--color-primary);
}

.logoText .subtitle {
  font-size: var(--font-size-sm);
  color: var(--color-secondary);
}

.tabs_container {
  display: flex;
  gap: 20px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.tab a {
    text-decoration: none;
    color: var(--color-secondary);
    padding: 10px 15px;
    transition: color 0.3s;
}
.tab a:hover {
    color: var(--color-primary);
}

.actionsContainer {
  margin: 5px;
  display: flex;
  align-items: center;
  gap: 1;
  flex-shrink: 0;
}

.userNameContainer {
  border: 1px solid transparent;
  margin: 2px 8px 2px 2px;
  border-radius: 25px;
  color: var(--color-secondary);
  display: flex;
  cursor: pointer;
  overflow: hidden;
  transition: max-width 0.5s ease-in-out, border-color 0.5s ease;
  max-width: 40px; 
}

.userNameContainer:hover {
  border-color: var(--color-secondary);
  max-width: 500px;
}

.userIcon {
  border-radius: 25px;
  min-height: 100%;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-primary);
  color: white;
  flex-shrink: 0;
  font-weight: bold;
}

.userName {
  max-width: 0;
  overflow: hidden;
  opacity: 0;
  padding: 5px 0 5px 0;
  white-space: nowrap;
  transition: opacity 0.3s 0.2s, max-width 0.5s ease-in-out, padding 0.5s ease-in-out;
}

.userNameContainer:hover .userName {
  opacity: 1;
  max-width: 300px;
  padding: 5px 10px 5px 5px;
  transition: opacity 0.3s 0.2s, max-width 0.5s ease-in-out, padding 0.5s ease-in-out;
}